* {
    margin: 0;
}

@media screen and (min-width:1000px){
    #mobile{
        display: none;
    }
    .desktop{
        display: flex;
        justify-content: center;
    }
    body {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #060053;
        height: 100vh;
        font-family: arial;
        color: #050044;
        outline-color: #050044;
    }

    a {
        color: inherit;
        text-decoration-line: none;
    }

    /* RODAPE */
    .rodape {
        text-align: center;
        position: absolute;
        bottom: 0;
        color: rgba(255, 255, 255, 0.438);

        hr {
            margin: 0.3vh 0;
            border-color: rgba(255, 255, 255, 0.438);

        }
    }

    /* BLUR */
    .blur-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(8px);
        background-color: rgba(255, 255, 255, 0.1);
        /* opcional: dá um glow leve */
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 1;
    }


    #page1 {
        text-align: center;
    }

    .container {
        text-align: center;
        padding: 10px;
        background-color: white;
    }

    .social-top {
        outline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .social-top>img {
        width: 40%;
    }

    /* .social-top > .imagem{
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
} */
    .about-links {
        font-size: 1.2vw;
        padding-right: 2vw;
    }

    .about-text {
        text-align: start;
    }

    .social-links {
        text-align: start;
    }

    .social-links>a>i {
        border-radius: 1vh;
        transition: 0.1s;
        background-color: white;
        cursor: pointer;
        margin-top: 2vh;
        text-align: center;
        font-size: 2vw;
        padding: 10px;
        width: 15%;
        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    }

    .social-links>a>i:hover {
        transition: 0.3s;
        transform: scale(1.5);
    }

    /* HOVER EFEITOS */
    #git:hover {
        color: white;
        background-color: black;
    }

    #insta:hover {
        color: white;
        background: radial-gradient(circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285AEB 90%);
    }

    #link:hover {
        color: #0077B5;
        background-color: white;
    }

    #steam:hover {
        color: #fcfcfc;
        background: linear-gradient(to bottom, #111d2e, #1385b6);
    }

    #wpp:hover {
        color: #fcfcfc;
        background-color: #25D366;
    }

    /*  */
    .go-projects {
        transition: 0.2s;
        width: 12vw;
        border-radius: 1vh;
        padding: 1vh;
        cursor: pointer;
        margin-top: 2vh;
        background-color: white;
        border: none;
        font-size: 3vh;
        color: #050044;
    }

    .go-projects:hover {
        transition: 0.3s;
        color: white;
        outline: auto;
        background-color: #050044;
    }

    .botoes {
        display: flex;
        justify-content: space-between;
    }

    /* PAGE 2 */
    .container-page2 {
        width: 70vw;
        height: 60vh;
        text-align: center;
        padding: 10px;
        background-color: white;
    }

    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vh;
    }

    hr {
        margin: 2vh 0;
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .page {
        transition: opacity 0.2s ease;
        text-align: center;
    }

    /* TESTES */
    .visible {
        display: block;
        animation: fadeIn 0.2s forwards;
    }

    /* PAGINAS */

    #page3 {
        h2 {
            text-align: justify;
        }
    }


    /* carrossel */
    .carrossel {
        background-color: white;
        transition: 0.1s;
        position: relative;
        width: 60vw;
        height: 49vh;
        overflow: hidden;
        border: 1px solid #ccc;
    }

    .carrossel-out {}

    .slides {
        display: flex;
        transition: transform 0.3s ease-in-out;
        width: 100%;
    }

    .slide {
        padding: 3vh 0 0 0;
        background-color: white;
        min-width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        background-color: #ffffff;
    }

    .carrossel:hover {
        transition: 0.3s;
        transform: scale(1.3);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 255, 0.1);
    }

    .botoes {
        text-align: center;
    }

    .project-buttons {
        background-color: #050044;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 2vh 0 2vh 0;
    }

    .carrossel-out>.carrossel>.project-buttons>h1 {
        color: white;
    }

    .carrossel-out>.carrossel>.project-buttons>button {
        border-radius: 10px;
        color: #050044;
        border: none;
        height: 4vh;
        margin: 0 5px;
        font-size: 3vh;
        width: 20vh;
    }

    .botoesCarrosselProject {
        opacity: 0;
    }

    .carrossel-out>.carrossel>.project-buttons>button:hover {
        cursor: pointer;
        transition: 0.3s;
        color: white;
        outline: auto;
        background-color: #050044;
    }

    .carrossel-out {
        display: flex;
        align-items: center;
    }

    .projeto>img {
        padding: 0 0 1vw 1vw;
        width: 50%;
        max-height: 35vh;
    }

    .projeto {
        color: white;
        display: flex;
        align-items: center;
        gap: ;
    }

    .projeto-texto {
        padding: 5vh;
        color: #050044;
        text-align: justify;

        h1 {
            font-size: 3vh;
        }
    }

    .carrossel {
        h1 {
            color: #050044;
        }

        hr {
            background-color: white;
        }
    }



    /* PAGINA 3 */
    .images {
        width: 50vw;
    }


    /* PAGINA 5 */
    .contact {
        background-image: url(/assets/about-IMG.png);
        background-size: 100%;
        width: 50vw;
        height: 60vh;
    }

    .contact>.social-links {
        gap: 1vw;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contact>.social-links>a {
        width: 15vw;
        display: grid;
    }

    .contact>.social-links>a>i {
        /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */

        font-size: 3vw;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }

    .contact>.social-links>a>i>h1 {
        font-family: arial;
        font-size: 2vw;
    }

    #page5>.botoes {
        justify-content: center;
    }
}




/* MOBILE / DEVICE */
@media screen and (max-width:1000px){
    body{
        background-color: #ffffff;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 100vw;
    }
    #mobile{
        display: flex;
    }
    .desktop{
        display: none;
    }
    /* PAGINA 1 */
    .box{
        text-align: center;
        width: 70vw;
    }
    
    .box>img{
        width: 50%;
    }
    #mPage1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}